@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

html    {
    background-color: black;
    color: white;
    font-family: 'Anonymous Pro', monospace;
    font-size: 20px;


}
body    {
    margin: 0;
}
pre {
    font-family: 'Anonymous Pro', monospace;
    font-weight: bold;
    width: fit-content;
    font-size: 1vw;
    margin: auto;
}
a   {
    color: white;
}
img {
    width: 100%;
}
a p {
    text-decoration: none;
}
p   {
    margin: 0;
}
.con    {
    margin: 0px 100px   ;
    display: flex;
    flex-direction: column;
}
.nav    {
    text-align: center;
    margin: 50px 0;
}
.headline   {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.h2 {
    font-size: 0.84vw;
    margin: auto 1.25vw;
}
.p-info {
    width: 30%;
    display: flex;
    margin: auto;
    margin-top: 24px;
}
.p-info-link    {
    margin-left: auto;
    display: inline-flex;
}
.p-info-link a  {
    margin-left: 24px;
}
.project    {
    margin-bottom: 128px;
}